<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="POST" enctype="application/json">
        <label for="username">
            Username
        </label>
        <input id="username" name="username" type="text" />
        <label for="password">
            Password
        </label>
        <input id="password" name="password" type="password" />

        <button type="submit">Login</button>
        <style>
            body {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            form {
                display: flex;
                flex-direction: column;
                width: 400px;
            }
        </style>
    </form>
</body>
</html>